---
import DocsLanding from "@components/Docs/DocsLanding.astro"

const webstore =
	"https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-lig/dlnejlppicbjfcfcedcflplfjajinajd"
const edgeAddons =
	"https://microsoftedge.microsoft.com/addons/detail/bonjourr/dehmmlejmefjphdeoagelkpaoolicmid"
const firefoxAddons = "https://addons.mozilla.org/firefox/addon/bonjourr-startpage/"
const appleAppStore = "https://apps.apple.com/app/bonjourr-startpage/id1615431236"
---

<DocsLanding lang="en">
	<span slot="overview-title">Features overview</span>
	<span slot="overview-desc">Learn all about Bonjourr's feature set</span>

	<span slot="reference-title">Settings reference</span>
	<span slot="reference-desc">A complete description of saved settings</span>

	<span slot="contribute-title">Contribute</span>
	<span slot="contribute-desc">See how you can help us make Bonjourr even better</span>

	<span slot="profiles-title">Custom profiles</span>
	<span slot="profiles-desc">Pre-made settings data for instant customization</span>

	<span slot="styles-title">CSS snippets</span>
	<span slot="styles-desc">Copy and paste pieces of code to style Bonjourr in funky ways</span>

	<span slot="faq-title">Frequently asked questions</span>
	<span slot="faq-desc">Wondering something about Bonjourr? It's probably in here!</span>

	<section slot="docs">
		<h2 id="install-extension">Install the extension</h2>

		<p>Bonjourr is fully supported and can be installed on the following platforms:</p>

		<div id="downloadLabels">
			<a href={webstore} target="_blank">
				<img
					src="https://labels.tahoe.be/chrome_download_dark.svg"
					height="53"
					alt="Download Bonjourr for Chrome"
				/>
			</a>

			<a href={firefoxAddons} target="_blank">
				<img
					src="https://labels.tahoe.be/firefox_download_dark.svg"
					height="53"
					alt="Download Bonjourr for Firefox"
				/>
			</a>

			<a href={edgeAddons} target="_blank">
				<img
					src="https://labels.tahoe.be/edge_download_dark.svg"
					height="53"
					alt="Download Bonjourr for Edge"
				/>
			</a>

			<a href={appleAppStore} target="_blank">
				<img
					src="https://labels.tahoe.be/safari_download_dark.svg"
					height="53"
					alt="Download Bonjourr for Safari"
				/>
			</a>
		</div>

		<hr style="margin-block: 3.5em" />

		<h2 id="not-available">Other platforms</h2>

		<p>
			You might still be able to install Bonjourr if you use these following browsers, on a
			case-by-case basis.
		</p>

		<h3 id="brave">Brave (desktop)</h3>

		<p>
			Being a Chromium based browser, Brave has the ability to install any Chrome extension.
			You can download Bonjourr <a
				href="https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-lig/dlnejlppicbjfcfcedcflplfjajinajd"
				>from the Chrome Web Store</a
			> and start using it right away.
		</p>

		<h3 id="zen">Zen (desktop)</h3>

		<p>
			Zen is based on Firefox, which means you can install any Firefox extension on it,
			including <a href={firefoxAddons}>Bonjourr</a>. Zen works a little differently than
			other browsers though, so you need to set a few things to make sure you take full
			advantage of Bonjourr:
		</p>

		<ol>
			<li>
				After installation, open Zen's settings and make sure Bonjourr is set for both <bjr
					>Homepage and new windows</bjr
				> and <bjr>New tabs</bjr>.
			</li>

			<li>
				Then, head to <code>about:config</code> in your URL bar, click "Accept the risk" and
				search for
				<code>zen.urlbar.replace-newtab</code>. Switch the value to <code>false</code> using
				the button on the right, and close the page. This ensures that Bonjourr actually shows
				up when you open new Zen tabs.
			</li>

			<li>Lastly, click on a Bonjourr tab in Zen and select <bjr>Add to essentials</bjr>.</li>
		</ol>

		<video src="/documentation/overview/zen-config.webm" controls></video>

		<p>
			Additionally, Bonjourr supports transparency in Zen using a <a
				href="/docs/styles#plain-background">CSS snippet</a
			> to paste in the Custom styles settings.
		</p>

		<h3 id="opera">Opera (desktop)</h3>

		<p>
			Opera does not allow extensions to modify its new tab. While there is no official
			statement, we believe this is because ads on their speed dial is a good revenue source
			for them.
		</p>

		<p>
			A workaround constists of installing an extension and use the online version of
			Bonjourr:
		</p>

		<ol>
			<li>Empty your current speed dial so that it shows a dark blank page.</li>
			<li>
				You then need to install a third-party extension that can replace your current
				active tab. For now, we found that only <a
					href="https://chromewebstore.google.com/detail/new-tab-start-page/mjfahldkpjhcnfbbmdhpjolcjpcfhcpj"
				>
					New Tab Start Page</a
				> works correctly. We are not affiliated with them.
			</li>
			<li>Click on the Bonjourr icon, it should reveal its full URL in the address bar.</li>
			<li>
				Setup the third-party extension to <bjr>https://online.bonjourr.fr</bjr>, and we're
				done!
			</li>
		</ol>

		<h3 id="vivaldi">Vivaldi (desktop)</h3>

		<p>
			While you can technically install the <a
				href="https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-lig/dlnejlppicbjfcfcedcflplfjajinajd"
				>Chrome version of Bonjourr</a
			> on Vivaldi, you'll see that even if the new tabs work, you'll get a blank page when you
			open a new window. There is currently no solution, but you can check out the <a
				href="https://github.com/victrme/Bonjourr/issues/213">GitHub issue</a
			> on it.
		</p>

		<h3 id="ios-other-browsers">Chrome, Firefox and other non-Safari browsers on iOS</h3>

		<p>There is no way for non-Safari browsers on iOS to install extensions.</p>

		<p>
			Some of them however (like <a
				href="https://apps.apple.com/app/navigateur-firefox-rapide-s%C3%BBr/id989804926"
				>Firefox</a
			>) will allow you to set a custom URL for when you open new tabs in which you can set <bjr
				>https://online.bonjourr.fr</bjr
			>. Even if this is the online version of Bonjourr, its data will be stored in cache
			which means it'll still be plenty fast.
		</p>

		<p>
			If you're just using Safari, you can install <a href={appleAppStore}
				>Bonjourr from the App Store</a
			> and it will be fully supported.
		</p>

		<h3 id="chrome-android">Chrome for Android</h3>

		<p>
			The Android version of Chrome is lacking an extension system, which makes it impossible
			to install Bonjourr on.
		</p>

		<p>
			The only way you were able to install Bonjourr on Android was by using Kiwi Browser,
			which allowed its users to install regular Chrome extensions on it. This is not possible
			anymore as Kiwi has recently been discontinued.
		</p>

		<h3 id="firefox-android">Firefox for Android</h3>

		<p>
			Mozilla prevents extensions from editing the startpage on its Android version, which
			makes Bonjourr impossible to install. As long as they don't change that, we as
			developers are unable to do anything.
		</p>

		<p>
			Another way they could do it is by implementing a custom URL option. That would allow
			you to use the online version of Bonjourr. You can <a
				href="https://connect.mozilla.org/t5/ideas/add-option-to-set-custom-homepage-in-firefox-for-android/idi-p/83481"
				>vote for this</a
			> on their forum.
		</p>
	</section>
</DocsLanding>

<style>
	#downloadLabels {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(8em, 100%), 1fr));
		grid-gap: 1em;
		margin-top: 1.75em;
	}
</style>
