---
import Docs from "@layouts/Docs.astro"
import { Code } from "astro:components"

import hide from "@assets/documentation/reference/hide.txt?raw"
import move from "@assets/documentation/reference/move.txt?raw"
import clock from "@assets/documentation/reference/clock.txt?raw"
import links from "@assets/documentation/reference/links.txt?raw"
import notes from "@assets/documentation/reference/notes.txt?raw"
import fonts from "@assets/documentation/reference/fonts.txt?raw"
import general from "@assets/documentation/reference/general.txt?raw"
import weather from "@assets/documentation/reference/weather.txt?raw"
import movegrid from "@assets/documentation/reference/movegrid.txt?raw"
import unsplash from "@assets/documentation/reference/unsplash.txt?raw"
import moveitems from "@assets/documentation/reference/moveitems.txt?raw"
import linkselem from "@assets/documentation/reference/linkselem.txt?raw"
import backgrounds from "@assets/documentation/reference/backgrounds.txt?raw"
---

<Docs
	title="Settings reference"
	lang="en"
	thumbnail="/documentation/backgrounds/saad-chaudhry-sAJlWye9at8.jpg"
>
	<p>
		<em>Last updated for version 19.2.5</em>
	</p>

	<h3>General</h3>

	<Code lang="jsonc" code={general} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Backgrounds</h3>

	<p>Select your background provider, blur amount, and brightness</p>

	<Code lang="jsonc" code={backgrounds} themes={{ light: "github-light", dark: "github-dark" }} />

	<h4>Unsplash</h4>

	<p>Paused frequency syncs the URL of the background in pausedImage</p>

	<Code lang="jsonc" code={unsplash} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Clock</h3>

	<Code lang="jsonc" code={clock} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Links</h3>

	<p>General settings for quick links.</p>

	<Code lang="jsonc" code={links} themes={{ light: "github-light", dark: "github-dark" }} />

	<p>When adding a quick link</p>

	<Code lang="jsonc" code={linkselem} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Notes, Search bar, and Quotes</h3>

	<p>These widgets behave pretty similarly: basic key-val.</p>

	<Code lang="jsonc" code={notes} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Fonts</h3>

	<p>
		Most fields in fonts are set automatically by Bonjourr and cannot easily be modified
		manually.
	</p>

	<Code lang="jsonc" code={fonts} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Weather</h3>

	<Code lang="jsonc" code={weather} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Hide</h3>

	<p>Specify which element on the page you want to hide.</p>

	<Code lang="jsonc" code={hide} themes={{ light: "github-light", dark: "github-dark" }} />

	<h3>Page layout</h3>

	<p>Page layouts are pretty complex. Grids are tables, items are widget alignments.</p>

	<Code lang="jsonc" code={move} themes={{ light: "github-light", dark: "github-dark" }} />
	<Code lang="jsonc" code={movegrid} themes={{ light: "github-light", dark: "github-dark" }} />
	<Code lang="jsonc" code={moveitems} themes={{ light: "github-light", dark: "github-dark" }} />
</Docs>
