---
import Docs from '@layouts/Docs.astro'
import Link from '@components/Link.astro'
import { Code } from 'astro:components'

import rolex from '@assets/documentation/snippets/rolex.txt?raw'
import noGpu from '@assets/documentation/snippets/no-gpu.txt?raw'
import potato from '@assets/documentation/snippets/potato.txt?raw'
import fontColor from '@assets/documentation/snippets/font-color.txt?raw'
import noCredits from '@assets/documentation/snippets/no-credits.txt?raw'
import clockWidth from '@assets/documentation/snippets/clock-width.txt?raw'
import noTransition from '@assets/documentation/snippets/no-transition.txt?raw'
import customGreeting from '@assets/documentation/snippets/custom-greeting.txt?raw'
import clockFontColor from '@assets/documentation/snippets/clock-font-color.txt?raw'
import plainBackground from '@assets/documentation/snippets/plain-background.txt?raw'
import temperatureUnit from '@assets/documentation/snippets/temperature-unit.txt?raw'
---

<Docs title='Style snippets' thumbnail='/documentation/backgrounds/braden-collum-CBcS51cGoSw.jpg'>
	<p>
		Bonjourr is customisable through its settings interface, but there are many more things you
		can do! Copy and paste those style snippets in their dedicated section of the settings to
		unlock some new possibilities.
	</p>

	<p>
		Want your own style snippet here?
		<Link href='/contact'>Contact us!</Link>
	</p>

	<h2 id='backgrounds'>Backgrounds</h2>

	<h3 id='no-transition'>I like my backgrounds fast.</h3>
	<Code lang='css' code={noTransition} />

	<h3 id='plain-background'>Unicolor is the new meta</h3>
	<Code lang='css' code={plainBackground} />

	<h2 id='clock'>Clock</h2>

	<h3 id='clock-width'>I like my clocks thick</h3>
	<Code lang='css' code={clockWidth} />

	<h3 id='rolex'>Rolex 😎</h3>
	<Code lang='css' code={rolex} />

	<h2 id='greetings'>Greetings</h2>

	<h3 id='custom-greetings'>I want my own greeting</h3>
	<Code lang='css' code={customGreeting} />

	<h2 id='fonts'>Fonts</h2>

	<h3 id='font-color'>My fonts shall be black (or any other color 😯)</h3>
	<Code lang='css' code={fontColor} />

	<h3 id='clock-font-color'>And my clock shall be black too</h3>
	<Code lang='css' code={clockFontColor} />

	<h2 id='other'>Other</h2>

	<h3 id='no-credits'>I don't care about artist exposure</h3>
	<Code lang='css' code={noCredits} />

	<h3 id='temperature-unit'>23 what, carrots?</h3>
	<Code lang='css' code={temperatureUnit} />

	<h3 id='no-gpu-computer'>No GPU, only CPU 😠</h3>
	<Code lang='css' code={noGpu} />

	<h3 id='potato-computer'>For laggy computers</h3>
	<Code lang='css' code={potato} />
</Docs>
