---
import Docs from "@layouts/Docs.astro"
import { Code } from "astro-expressive-code/components"

import hide from "@assets/documentation/reference/hide.txt?raw"
import move from "@assets/documentation/reference/move.txt?raw"
import clock from "@assets/documentation/reference/clock.txt?raw"
import links from "@assets/documentation/reference/links.txt?raw"
import notes from "@assets/documentation/reference/notes.txt?raw"
import fonts from "@assets/documentation/reference/fonts.txt?raw"
import general from "@assets/documentation/reference/general.txt?raw"
import weather from "@assets/documentation/reference/weather.txt?raw"
import movegrid from "@assets/documentation/reference/movegrid.txt?raw"
import unsplash from "@assets/documentation/reference/unsplash.txt?raw"
import moveitems from "@assets/documentation/reference/moveitems.txt?raw"
import linkselem from "@assets/documentation/reference/linkselem.txt?raw"
import backgrounds from "@assets/documentation/reference/backgrounds.txt?raw"
---

<Docs
	title="Référence des paramètres"
	lang="fr"
	thumbnail="/documentation/backgrounds/saad-chaudhry-sAJlWye9at8.jpg"
>
	<p>
		<em>
			Les paramètres de Bonjourr sont enregistrés au format JSON, visible dans la section de
			gestion des paramètres. Cette page vous aide à comprendre à quoi correspond chaque
			propriété JSON. Dernière mise à jour pour la version 21.0.0.
		</em>
	</p>

	<section id="general">
		<h2>Général</h2>

		<Code lang="jsonc" code={general} />
	</section>

	<section id="backgrounds">
		<h2>Arrière-plans</h2>

		<p>
			Les noms de collections sont gérées par Bonjourr et notre serveur, ils ne peuvent pas
			être modifiés ou devinés.
		</p>

		<Code lang="jsonc" code={backgrounds} />
	</section>

	<section>
		<h2>Horloge</h2>

		<Code lang="jsonc" code={clock} />
	</section>

	<section id="links">
		<h2>Liens</h2>

		<p>Paramètres généraux pour les liens rapides.</p>

		<Code lang="jsonc" code={links} />

		<p>Lors de l’ajout d’un lien rapide</p>

		<Code lang="jsonc" code={linkselem} />
	</section>

	<section id="notes">
		<h2>Notes, barre de recherche et citations</h2>

		<p>Ces widgets fonctionnent de manière assez similaire : une simple paire clé-valeur.</p>

		<Code lang="jsonc" code={notes} />
	</section>

	<section id="fonts">
		<h2>Polices</h2>

		<p>
			La plupart des champs dans <code>fonts</code> sont définis automatiquement par Bonjourr et
			ne peuvent pas être facilement modifiés manuellement.
		</p>

		<Code lang="jsonc" code={fonts} />
	</section>

	<section id="weather">
		<h2>Météo</h2>

		<Code lang="jsonc" code={weather} />
	</section>

	<section id="hide">
		<h2>Masquer</h2>

		<p>Indiquez quel élément de la page vous souhaitez masquer.</p>

		<Code lang="jsonc" code={hide} />
	</section>

	<section id="layout">
		<h2>Mise en page</h2>

		<p>
			Les mises en page sont plutôt complexes. Les grilles sont des tableaux, les éléments
			sont des alignements de widgets.
		</p>

		<Code lang="jsonc" code={move} />
		<Code lang="jsonc" code={movegrid} />
		<Code lang="jsonc" code={moveitems} />
	</section>
</Docs>
