---
import Docs from '../../../layouts/Docs.astro'
import Link from '../../../components/Link.astro'
import { Code } from 'astro:components'

import rolex from '/documentation/snippets/rolex.txt?raw'
import noGpu from '/documentation/snippets/no-gpu.txt?raw'
import potato from '/documentation/snippets/potato.txt?raw'
import fontColor from '/documentation/snippets/font-color.txt?raw'
import noCredits from '/documentation/snippets/no-credits.txt?raw'
import clockWidth from '/documentation/snippets/clock-width.txt?raw'
import noTransition from '/documentation/snippets/no-transition.txt?raw'
import customGreeting from '/documentation/snippets/custom-greeting.txt?raw'
import clockFontColor from '/documentation/snippets/clock-font-color.txt?raw'
import plainBackground from '/documentation/snippets/plain-background.txt?raw'
import temperatureUnit from '/documentation/snippets/temperature-unit.txt?raw'
---

<Docs title='Style snippets' thumbnail='/documentation/backgrounds/braden-collum-CBcS51cGoSw.jpg'>
	<p>
		Bonjourr est personnalisable par le biais de son interface de paramètres, mais vous pouvez
		faire bien d'autres choses ! Copiez et collez ces extraits de style dans leur section dédiée
		des paramètres pour débloquer de nouvelles possibilités.
	</p>

	<p>
		Vous voulez votre propre extrait de style ici ?
		<Link href='/contact'>Contactez nous !</Link>
	</p>

	<h2 id='backgrounds'>Fond d'écran</h2>

	<h3 id='no-transition'>J'aime que mes arrière-plans soient rapides.</h3>
	<Code lang='css' code={noTransition} />

	<h3 id='plain-background'>L'unicolore est la nouvelle méta</h3>
	<Code lang='css' code={plainBackground} />

	<h2 id='clock'>Horloge</h2>

	<h3 id='clock-width'>J'aime mes horloges épaisses</h3>
	<Code lang='css' code={clockWidth} />

	<h3 id='rolex'>Rolex 😎</h3>
	<Code lang='css' code={rolex} />

	<h2 id='greetings'>Bienvenue</h2>

	<h3 id='custom-greetings'>Je veux mon propre message d'accueil</h3>
	<Code lang='css' code={customGreeting} />

	<h2 id='fonts'>Police de caractères</h2>

	<h3 id='fonts-color'>Mes polices de caractères seront noires (ou une autre couleur 😯)</h3>
	<Code lang='css' code={fontColor} />

	<h3 id='clock-font-color'>Et mon horloge aussi sera noire</h3>
	<Code lang='css' code={clockFontColor} />

	<h2 id='other'>Autre</h2>

	<h3 id='no-credits'>Je me fiche de l'exposition de l'artiste</h3>
	<Code lang='css' code={noCredits} />

	<h3 id='temperature-unit'>23 quoi, carottes ?</h3>
	<Code lang='css' code={temperatureUnit} />

	<h3 id='no-gpu-computer'>Pas de GPU, seulement le CPU 😠</h3>
	<Code lang='css' code={noGpu} />

	<h3 id='potato-computer'>Pour les ordinateurs qui traînent</h3>
	<Code lang='css' code={potato} />
</Docs>
