---
import { Code } from "astro-expressive-code/components"

const { id, code, image_src, image_alt } = Astro.props
const href = `data:application/json;charset=utf-8,${encodeURIComponent(code)}`
---

<h2 id={id}>
	<slot name="title" />
</h2>

<picture>
	<img src={image_src} alt={image_alt} />
</picture>

<div>
	<a href={href} download={`bonjourr-profile-${id}.json`}>
		<slot name="download-label">Download import file</slot>
	</a>
	<details>
		<summary>
			<slot name="code-label" />
		</summary>

		<Code lang="json" code={code} />
	</details>
</div>
