---
import Trans from '../Trans.astro'

import LandingImage from '../../assets/backgrounds/mitch-meyers-YQD1Xljt4xo.jpg'
import OpenImage from '../../assets/backgrounds/matt-drenth-IZ0a3V1aSbc.jpg'
import DonateImage from '../../assets/backgrounds/timur-kozmenko-O_cPK84YZf4.jpg'
import { btc, kofi } from '../../assets/icons/donate'

import Background from '../Background.astro'
import Landing from './Landing.astro'
import Further from './Further.astro'
import Showcase from './Showcase.astro'
---

<section id='hero'>
	<Background src={LandingImage} blur='.7' brightness='.9' width='600' />
	<Landing />
</section>

<section id='showcase'>
	<div class='section-wrapper'>
		<Showcase />
	</div>
</section>

<section id='open'>
	<Background src={OpenImage} blur='.7' brightness='.8' width='800' />

	<div class='section-wrapper'>
		<h2>
			<Trans>Free, open source and privacy focused</Trans>
			<span role='img' aria-label='lock-emoji'> 🔒</span>
		</h2>
		<p>
			<Trans>
				Bonjourr is made by two independent developpers who love things well made and actually think privacy is
				important. You can use Bonjourr straight away, without having to create or log into any account because we do
				not collect any data.
			</Trans>
		</p>
	</div>
</section>

<section id='further'>
	<div class='section-wrapper'>
		<Further />
	</div>
</section>

<section id='donate'>
	<Background src={DonateImage} blur='.7' brightness='.8' width='800' />

	<div class='section-wrapper'>
		<h2>
			<Trans>Donate</Trans>
			<span role='img' aria-label='happy-emoji'> 😊</span>
		</h2>

		<p>
			<Trans>
				Since Bonjourr is entirely free and doesn’t collect nor sell your data, we don’t earn any money out of this
				project, apart from donations. Supporting our work financially is very important if you want us to keep
				updating it, and we appreciate every single donation.
			</Trans>
		</p>

		<div class='buttons'>
			<a href='https://ko-fi.com/bonjourr' class='button'>
				<img width='64' src={kofi} class='icon' alt='' />
				<span>
					<Trans>Donate</Trans>
				</span>
			</a>

			<a href='https://commerce.coinbase.com/checkout/095cc203-130d-4e56-9716-3aa10a202d9b' class='button'>
				<img width='64' src={btc} class='icon' alt='' />
				<span>
					<Trans>Donate in crypto</Trans>
				</span>
			</a>
		</div>
	</div>
</section>

<style>
	h3 {
		font-size: 1.5em;
		font-weight: 500;
		text-align: center;
	}

	#hero {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 8em 4em;
		padding-top: 8em;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-height: 80vh;
	}

	@media only screen and (max-height: 1000px) and (min-width: 700px) {
		#hero {
			min-height: 100vh;
		}
	}

	.section-wrapper {
		margin: auto;
		padding: 3em 2em;
		max-width: 1200px;
	}

	#showcase {
		color: white;
		background: linear-gradient(0.25turn, #140a17, #231730, #140a17);
	}

	#open,
	#donate {
		position: relative;
		color: white;
		background-position: 50% 50%;
		background-size: cover;
	}

	#open .section-wrapper,
	#donate .section-wrapper {
		max-width: 600px;
	}

	#open,
	#donate,
	#further {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 700px;
	}

	#further {
		min-height: 900px;
		background-color: #fafafd;
	}

	#donate .buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		gap: 1em;
		margin-top: 3em;
	}

	@media only screen and (min-width: 1600px) {
		#open,
		#donate,
		#further {
			min-height: 900px;
		}
	}

	@media only screen and (max-width: 500px) {
		#hero {
			padding: 10em 2em;
			min-height: 200px;
		}

		#donate {
			padding-bottom: unset;
		}

		#donate h2 {
			margin-top: unset;
		}
	}

	@media only screen and (max-width: 390px) {
		#further .section-wrapper {
			padding: 2em 1em;
		}
	}
</style>
