---
import Download from './Download.svelte'
import Trans from './Trans.astro'

import Illustration from '../assets/illustration/illu.webp'
import Illustration2x from '../assets/illustration/illu2x.webp'

import DynamicImage from '../assets/dynamic.webp'
import DynamicImage2x from '../assets/dynamic2x.webp'
import CustomiseImage from '../assets/customise.png'

import GithubIcon from '../assets/icons/further/github.svg'
import DocsIcon from '../assets/icons/further/docs.svg'
import TelegramIcon from '../assets/icons/further/telegram.svg'
import KofiIcon from '../assets/icons/donate/ko-fi.svg'
import BtcIcon from '../assets/icons/donate/btc.svg'

import useTranslation from '../locales/useTranslation'
const { isFrench } = useTranslation(Astro)
const locale = isFrench() ? '/fr/' : '/'
---

<div id='hero' class='section'>
	<span class='background'></span>
	<div class='left'>
		<h1>Bonjourr</h1>
		<p>
			<Trans text='Startpage for your browser' />
		</p>

		<Download client:load>
			<Trans text='Download' slot='Download' />
			<Trans text='Try online' slot='Online' />
		</Download>

		<a href='/use-bonjourr' class='link'>
			<i>
				<Trans text='Searching for other browsers?' />
			</i>
		</a>
	</div>

	<div class='right'>
		<img src={Illustration} srcset={Illustration2x + ' 2x'} alt='Bonjourr screenshot' width='613' height='377' />
	</div>
</div>

<section id='main'>
	<div class='section-wrapper'>
		<div id='intro' class='row'>
			<h2>
				<Trans text='Minimalist & lightweight startpage' />
			</h2>
			<p>
				<Trans
					text={`Bonjourr replaces your new tab page for something more refined and minimal. We took inspiration from Apple’s design language to create a startpage that both looks amazing and feels great to use in your daily life.`}
				/>
			</p>
		</div>

		<div id='dynBackgrounds' class='row'>
			<div class='left'>
				<img
					src={DynamicImage}
					srcset={DynamicImage2x + ' 2x'}
					alt='Bonjourr dynamic backgrounds screenshot'
					width='480'
					loading='lazy'
				/>
			</div>

			<div class='right'>
				<h3>
					<Trans text='Dynamic Backgrounds' />
				</h3>

				<hr />

				<p>
					<Trans
						text={`Bonjourr uses a manually selected collection of the best photos Unsplash has to offer. The mood of the photos changes according to the time of the day, from noon to the end of the night.`}
					/>
				</p>
			</div>
		</div>

		<div id='custom' class='row'>
			<div class='left'>
				<h3>
					<Trans text='Customisable' />
				</h3>
				<hr />
				<p>
					<Trans
						text={`Because minimalism doesn’t rhyme with lack of features, Bonjourr is stuffed with options. Add in your personal touch by changing the font, adding your own backgrounds or changing the look of your clock.`}
					/>
				</p>
			</div>

			<div class='right'>
				<img src={CustomiseImage} alt='Bonjourr dynamic backgrounds screenshot' width='480' loading='lazy' />
			</div>
		</div>

		<div id='more' class='row'>
			<h3>
				<Trans text='A few more features' />
			</h3>
			<div class='listContainer'>
				<div class='left'>
					<ul>
						<li>
							<Trans text='Quick Links' />
						</li>
						<li>
							<Trans text='Search bar' />
						</li>
						<li>
							<Trans text='Google Fonts' />
						</li>
						<li>
							<Trans text='Multilanguage' />
						</li>
					</ul>
				</div>
				<div class='right'>
					<ul>
						<li>
							<Trans text='Dark mode' />
						</li>
						<li>
							<Trans text='Notes & checkboxes' />
						</li>
						<li>
							<Trans text='Quotes' />
						</li>
						<li>
							<Trans text='Custom CSS' />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='open'>
	<div class='section-wrapper'>
		<h2>
			<span role='img' aria-label='lock-emoji'> 🔒</span>{' '}
			<Trans text='Free, open source and privacy focused' />
		</h2>
		<p>
			<Trans
				text={`Bonjourr is made by two independent developpers who love things well made and actually think privacy is important. You can use Bonjourr straight away, without having to create or log into any account because we do not collect any data.`}
			/>
		</p>
	</div>
</section>

<section id='further'>
	<div class='section-wrapper'>
		<div class='container'>
			<div>
				<h2>
					<Trans text='Want to go further?' />
				</h2>
			</div>
			<div>
				<h3>
					<Trans text='Contact us' />
				</h3>
				<p>
					<Trans
						text={`Come and hang out on Bonjourr’s official Telegram group. You can tell us about your ideas and read about the latest news about its development.`}
					/>
				</p>

				<a href='https://t.me/BonjourrStartpage' class='button'>
					<img width='64' src={TelegramIcon} class='icon' alt='' loading='lazy' />
					<span>
						<Trans text={`Bonjourr's Telegram`} />
					</span>
				</a>
			</div>

			<div>
				<h3>
					<Trans text='Documentation' />
				</h3>
				<p>
					<Trans
						text={`Check out Bonjourr’s documentation where we bundled a bunch of pre-made CSS code snippets so you can go even further into customisation.`}
					/>
				</p>
				<a href={locale + 'docs/platforms'} class='button'>
					<img width='64' src={DocsIcon} class='icon' alt='' loading='lazy' />
					<span>
						<Trans text='Documentation' />
					</span>
				</a>
			</div>

			<div>
				<h3>
					<Trans text='Fork Bonjourr' />
				</h3>
				<p>
					<Trans
						text={`Fork Bonjourr and add your own features on our GitHub repositories. We’re open to pull requests!`}
					/>
				</p>
				<a href='https://github.com/victrme/Bonjourr' class='button'>
					<img width='64' src={GithubIcon} class='icon' alt='' loading='lazy' />
					<span>
						<Trans text='GitHub repository' />
					</span>
				</a>
			</div>
		</div>
	</div>
</section>

<section id='donate'>
	<div class='section-wrapper'>
		<h2>
			<Trans text='Donate' />
			<span role='img' aria-label='happy-emoji'> 😊</span>
		</h2>

		<p>
			<Trans
				text={`Since Bonjourr is entirely free and doesn’t collect nor sell your data, we don’t earn any money out of this project, apart from donations. Supporting our work financially is very important if you want us to keep updating it, and we appreciate every single donation.`}
			/>
		</p>

		<div class='buttons'>
			<a href='https://ko-fi.com/bonjourr' class='button'>
				<img width='64' src={KofiIcon} class='icon' alt='' loading='lazy' />
				<span>
					<Trans text='Donate' />
				</span>
			</a>

			<a href='https://commerce.coinbase.com/checkout/095cc203-130d-4e56-9716-3aa10a202d9b' class='button'>
				<img width='64' src={BtcIcon} class='icon' alt='' loading='lazy' />
				<span>
					<Trans text='Donate in crypto' />
				</span>
			</a>
		</div>
	</div>
</section>

<style lang='scss'>
	@import '../styles/global.scss';

	h2 {
		text-align: center;
		font-size: 35px;
		font-weight: 500;
		margin-bottom: 1.5em;

		@include sm {
			font-size: 25px;
			margin-bottom: 1em;
			text-align: left;
		}
	}

	h3 {
		font-size: 2em;
		font-weight: 500;

		@include sm {
			font-size: 1.3em;
		}
	}

	section {
		@include sidePadding();

		@include sm {
			padding-top: 3em;
			padding-bottom: 3em;
		}
	}

	.section-wrapper {
		margin: auto;
		@include maxWidth;
	}

	#hero {
		display: flex;
		color: white;
		position: relative;
		height: 90vh;
		min-height: 550px;
		@include center();

		h1,
		h2 {
			font-weight: 300;
		}

		.background {
			position: absolute;
			overflow: hidden;
			height: 100%;
			width: 100%;
			z-index: -1;

			&:before {
				content: '';
				position: absolute;
				background-image: url('../assets/seaside.webp');
				background-size: cover;
				background-position: 0% center;
				filter: blur(12px);

				display: block;
				width: 100%;
				height: 100%;
				transform: scale(1.1);
			}
		}

		// passe en lignes en mobile
		@include md {
			flex-wrap: wrap;
			h1,
			h2 {
				text-align: center;
			}
		}

		h1 {
			font-size: 4em;
			margin: unset;
			@include textShadow();

			@include sm {
				margin-top: 0.5em;
				font-size: 3em;
				text-align: left;
			}
		}

		.left p {
			margin: 0.2em 0 2em 0;
			font-size: 1.8em;

			@include textShadow();

			@include sm {
				font-size: 1.4em;
				text-align: left;
			}
		}

		> div {
			height: 100%;
			flex-grow: 1;
			@include centerColumns;

			&.left {
				min-width: 310px;

				.container {
					display: flex;
					justify-content: center;

					.button:first-child {
						margin-right: 1em;
					}
				}

				.link {
					color: white;
					opacity: 0.8;
					transition: opacity $transitionTime ease-in;
					margin: 1em 0;
					@include textShadow;

					@include md {
						text-align: center;
					}

					@include sm {
						text-align: left;
					}

					&:hover {
						opacity: 1;
					}
				}
			}

			&.right {
				max-width: 650px;
				margin-left: 1em;

				@include md {
					margin-left: unset;
				}

				img {
					width: 100%;
					height: auto;
					@include screenshotShadow;
				}
			}

			@include md {
				height: unset;
				&.left {
					margin-right: unset;
				}
			}

			@include xl {
				&.left {
					margin-right: 4em;
					min-width: 410px;
					max-width: 450px;
					h1 {
						font-size: 5em;
					}
					h2 {
						font-size: 1.8em;
						margin: 20px 0 40px 0;
					}
				}
			}
		}
	}

	#open,
	#donate {
		color: white;
		@include textShadow();
		background-position: 50% 50%;
		background-size: cover;
	}

	#open {
		background-image: url('../assets/mountains.jpg');
	}

	#donate {
		background-image: url('../assets/greens.jpg');
	}

	#main {
		color: white;
		padding: 1em 0;
		background: linear-gradient(0.25turn, #140a17, #231730, #140a17);

		.row {
			padding: 3em 0;
		}

		h3 {
			margin: 0;
		}

		hr {
			display: block;
			border: unset;
			border-bottom: 2px solid white;
			width: 80px;
			margin: 1.5em 0;

			@include sm {
				margin: 1em 0;
			}
		}

		#intro {
			p {
				max-width: 800px;
				margin: auto;
				text-align: center;

				@include md {
					text-align: left;
				}
			}
		}

		#dynBackgrounds .right,
		#custom .left {
			@include centerColumns;
		}

		#dynBackgrounds .left,
		#custom .right {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#dynBackgrounds,
		#custom {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2em;

			// flex wrap equivalent
			@include md {
				grid-template-columns: repeat(auto-fit, 100%);
			}
		}

		#custom .right {
			@include md {
				grid-column-start: 1;
				grid-row-start: 1;
			}
		}

		#more {
			h3 {
				text-align: center;
			}

			ul {
				list-style: none;
				padding: unset;
			}

			.listContainer {
				display: flex;
				justify-content: center;
				font-size: 1.5em;
				line-height: 1.5em;

				@include sm {
					font-size: 1.3em;
				}

				.left {
					text-align: right;
					margin-right: 1em;
				}
				.right {
					text-align: left;
				}
			}
		}
	}

	#open,
	#donate {
		min-height: 80vh;
		@include centerColumns;

		@include xl {
			p {
				width: 70vw;
				max-width: 700px;
			}
		}

		h3 {
			text-align: center;
		}
	}

	#further {
		color: $blackish;
		background-color: #fafafd;
		min-height: 90vh;
		@include centerColumns;

		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 3em;

			@include md {
				grid-template-columns: repeat(auto-fit, 100%);

				> div {
					margin-bottom: 2em;

					&:last-child {
						margin-bottom: unset;
					}
				}
			}

			> div {
				display: grid;
				align-items: center;
				box-sizing: border-box;
				border-radius: 20px;
				padding: 30px;
				color: white;

				&:nth-child(1) {
					color: #222;
				}
				&:nth-child(2) {
					background-color: #579ceb;
				}
				&:nth-child(3) {
					background-color: #127c8d;
				}
				&:nth-child(4) {
					background-color: #333333;
				}

				.button {
					align-self: end;
				}
			}
		}

		h3 {
			font-size: 1.6em;
			margin: 0;
			font-weight: unset;
			align-self: flex-start;

			@include sm {
				font-size: 1.3em;
			}
		}

		p {
			margin: 2em 0;
			align-self: flex-start;
		}

		a {
			text-align: center;
		}
	}

	#donate {
		// ajoute la taille du footer au padding
		padding-bottom: calc(5em + 80px);
		@include md {
			padding-bottom: calc(5em + 160px);
		}

		p {
			margin-bottom: 2em;
		}

		.buttons {
			width: 100%;
			display: flex;
			justify-content: center;

			.button {
				margin: unset;

				&:first-child {
					margin-right: 1em;

					@include sm {
						margin-right: unset;
						margin-bottom: 1em;
					}
				}
			}

			@include sm {
				flex-wrap: wrap;
			}
		}
	}
</style>
