---
import Link from "./Link.astro"

const isFrench = Astro.url.pathname.startsWith("/fr")
const path = Astro.url.pathname

const en = {
	Home: "Home",
	Donate: "Donate",
	Try: "Try online",
	Download: "Download for",
	Socials: "Socials",
}
const fr = {
	Home: "Accueil",
	Donate: "Dons",
	Try: "Démo en ligne",
	Download: "Télécharger pour",
	Socials: "Réseaux sociaux",
}
const trans = isFrench ? fr : en
---

<nav>
	<div class="container">
		<ul class="links desktop-nav">
			<li><Link href="/" id="homeLink" title="Homepage">{trans.Home}</Link></li><li>
				<a href="https://online.bonjourr.fr">Online</a>
			</li><li>
				<Link href="/docs" title="Documentation">Docs</Link>
			</li><li>
				<Link href="/#further" title="Get in touch">Contact</Link>
			</li><li>
				<a href="https://ko-fi.com/bonjourr" title="Support us on Ko-Fi">{trans.Donate}</a>
			</li>
		</ul>

		<div class="nav-right">
			<ul class="socials desktop-nav">
				<li>
					<a href="https://t.me/BonjourrStartpage" title="Bonjourr's Telegram group">
						<svg
							role="img"
							fill="none"
							viewBox="0 0 48 48"
							xmlns="http://www.w3.org/2000/svg"
							><path
								d="m41.4193 7.30899s3.8853-1.515 3.5615 2.16429c-.1079 1.51502-1.0792 6.81752-1.8347 12.55292l-2.5902 16.9897s-.2158 2.4889-2.1585 2.9218c-1.9427.4328-4.8566-1.515-5.3963-1.9479-.4317-.3246-8.0943-5.1943-10.7925-7.575-.7555-.6493-1.6189-1.9479.1079-3.4629l11.3322-10.8214c1.2951-1.2986 2.5902-4.3286-2.8061-.6493l-15.1095 10.2804s-1.7268 1.0821-4.9645.1082l-7.01518-2.1643s-2.59021-1.6232 1.83473-3.2465c10.79255-5.0861 24.06735-10.2804 35.83115-15.15001z"
								fill="#fff"></path></svg
						>
					</a>
				</li><li>
					<a href="https://github.com/victrme/Bonjourr" title="Our GitHub repository">
						<svg fill="none" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
							><path
								role="img"
								clip-rule="evenodd"
								d="m8 0c-4.42 0-8 3.58-8 8 0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38 3.16-1.06 5.45-4.06 5.45-7.59 0-4.42-3.58-8-8-8z"
								fill="#fff"
								fill-rule="evenodd"
								transform="scale(64)"></path></svg
						>
					</a>
				</li><li>
					<a href="https://bsky.app/profile/bonjourr.fr" title="Join us on Bluesky">
						<svg
							role="img"
							clip-rule="evenodd"
							fill-rule="evenodd"
							stroke-linejoin="round"
							stroke-miterlimit="2"
							viewBox="0 0 581 511"
							xmlns="http://www.w3.org/2000/svg"
							><path
								d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.449-163.25-81.433-5.957-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
								fill="#fff"
								fill-rule="nonzero"
								transform="translate(-9.9966 -9.65494)"></path></svg
						>
					</a>
				</li>
				<!-- <li>
					<a href="https://twitter.com/BonjourrTeam" title="Join us on Twitter">
						<svg
							viewBox="0 0 300.00006 244.18703"
							xmlns="http://www.w3.org/2000/svg"
							role="img"
							><path
								d="m633.89823 812.04479c112.46038 0 173.95627-93.16765 173.95627-173.95625 0-2.64628-.0539-5.28062-.1726-7.90305 11.93799-8.63016 22.31446-19.39999 30.49762-31.65984-10.95459 4.86937-22.74358 8.14741-35.11071 9.62551 12.62341-7.56929 22.31446-19.54304 26.88583-33.81739-11.81284 7.00307-24.89517 12.09297-38.82383 14.84055-11.15723-11.88436-27.04079-19.31655-44.62892-19.31655-33.76374 0-61.14426 27.38052-61.14426 61.13233 0 4.79784.5364 9.46458 1.58538 13.94057-50.81546-2.55686-95.87353-26.88582-126.02546-63.87991-5.25082 9.03545-8.27852 19.53111-8.27852 30.73006 0 21.21186 10.79366 39.93837 27.20766 50.89296-10.03077-.30992-19.45363-3.06348-27.69044-7.64676-.009.25652-.009.50661-.009.78077 0 29.60957 21.07478 54.3319 49.0513 59.93435-5.13757 1.40062-10.54335 2.15158-16.12196 2.15158-3.93364 0-7.76596-.38716-11.49099-1.1026 7.78383 24.2932 30.35457 41.97073 57.11525 42.46543-20.92578 16.40207-47.28712 26.17062-75.93712 26.17062-4.92898 0-9.79834-.28036-14.58427-.84634 27.05868 17.34379 59.18936 27.46396 93.72193 27.46396"
								fill="#fff"
								transform="translate(-539.17946 -568.85777)"></path></svg
						>
					</a>
				</li> -->
			</ul>

			<a
				class="language desktop-nav"
				href={isFrench ? path.substring(3) : "/fr" + path}
				title={`Switch language to ${isFrench ? "English" : "French"}`}
			>
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM14.8055 18.4151C17.1228 17.4003 18.7847 15.1667 18.9806 12.525C18.1577 12.9738 17.12 13.3418 15.9371 13.598C15.7882 15.4676 15.3827 17.1371 14.8055 18.4151ZM9.1945 5.58487C7.24725 6.43766 5.76275 8.15106 5.22208 10.244C5.4537 10.4638 5.84813 10.7341 6.44832 11.0008C6.89715 11.2003 7.42053 11.3798 8.00537 11.5297C8.05853 9.20582 8.50349 7.11489 9.1945 5.58487ZM10.1006 13.9108C10.2573 15.3675 10.5852 16.6202 10.9992 17.5517C11.2932 18.2133 11.5916 18.6248 11.8218 18.8439C11.9037 18.9219 11.9629 18.9634 12 18.9848C12.0371 18.9634 12.0963 18.9219 12.1782 18.8439C12.4084 18.6248 12.7068 18.2133 13.0008 17.5517C13.4148 16.6202 13.7427 15.3675 13.8994 13.9108C13.2871 13.9692 12.6516 14 12 14C11.3484 14 10.7129 13.9692 10.1006 13.9108ZM8.06286 13.598C8.21176 15.4676 8.61729 17.1371 9.1945 18.4151C6.8772 17.4003 5.21525 15.1666 5.01939 12.525C5.84231 12.9738 6.88001 13.3418 8.06286 13.598ZM13.9997 11.8896C13.369 11.9609 12.6993 12 12 12C11.3008 12 10.631 11.9609 10.0003 11.8896C10.0135 9.66408 10.4229 7.74504 10.9992 6.44832C11.2932 5.78673 11.5916 5.37516 11.8218 5.15605C11.9037 5.07812 11.9629 5.03659 12 5.01516C12.0371 5.03659 12.0963 5.07812 12.1782 5.15605C12.4084 5.37516 12.7068 5.78673 13.0008 6.44832C13.5771 7.74504 13.9865 9.66408 13.9997 11.8896ZM15.9946 11.5297C15.9415 9.20582 15.4965 7.11489 14.8055 5.58487C16.7528 6.43766 18.2373 8.15107 18.7779 10.244C18.5463 10.4638 18.1519 10.7341 17.5517 11.0008C17.1029 11.2003 16.5795 11.3798 15.9946 11.5297Z"
						fill="currentColor"></path>
				</svg>
				<span>
					{isFrench ? "en" : "fr"}
				</span>
			</a>

			<button class="hamburger" aria-label="Open navigation menu" open-button>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
					<path
						fill-rule="evenodd"
						d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
						clip-rule="evenodd"></path>
				</svg>
			</button>
		</div>
	</div>
</nav>

<div class="container-mobile">
	<div class="overlay"></div>

	<aside tabindex="-1">
		<button aria-label="Close navigation menu" close-button>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
				<path
					fill-rule="evenodd"
					d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
					clip-rule="evenodd"></path>
			</svg>
		</button>

		<nav>
			<ul class="links">
				<li>
					<Link href="/" id="homeLink" title="Homepage">{trans.Home}</Link>
				</li>
				<li>
					<a href="https://online.bonjourr.fr">{trans.Try}</a>
				</li>
				<li>
					<Link href="/docs" title="Documentation">Documentation</Link>
				</li>
				<li>
					<Link href="/#further" title="Get in touch">Contact</Link>
				</li>
				<li>
					<a href="https://ko-fi.com/bonjourr" title="Support us on Ko-Fi">
						<img src="/frontpage/ko-fi.svg" alt="" />
						<span>{trans.Donate}</span>
					</a>
				</li>
			</ul>

			<h2>{trans.Download}</h2>

			<ul>
				<li>
					<a
						href="https://addons.mozilla.org/firefox/addon/bonjourr-startpage/"
						title="Download for Firefox"
					>
						<img src="/browsers/firefox.svg" alt="" />
						<span>Firefox</span>
					</a>
				</li>
				<li>
					<a
						href="https://chrome.google.com/webstore/detail/bonjourr-%C2%B7-minimalist-lig/dlnejlppicbjfcfcedcflplfjajinajd"
						title="Download Bonjourr for Chrome"
					>
						<img src="/browsers/chrome.svg" alt="" />
						<span>Chrome</span>
					</a>
				</li>
				<li>
					<a
						href="https://apps.apple.com/app/bonjourr-startpage/id1615431236"
						title="Download Bonjourr for Safari"
					>
						<img src="/browsers/safari.svg" alt="" />
						<span>Safari</span>
					</a>
				</li>
				<li>
					<a
						href="https://microsoftedge.microsoft.com/addons/detail/bonjourr/dehmmlejmefjphdeoagelkpaoolicmid"
						title="Download Bonjourr for Edge"
					>
						<img src="/browsers/edge.svg" alt="" />
						<span>Edge</span>
					</a>
				</li>
			</ul>

			<h2>{trans.Socials}</h2>

			<ul>
				<li>
					<a href="https://github.com/victrme/Bonjourr" title="Our GitHub repository">
						<img src="/frontpage/github-dark.svg" alt="" />
						<span>GitHub</span>
					</a>
				</li>
				<li>
					<a href="https://t.me/BonjourrStartpage" title="Our Telegram group">
						<img src="/frontpage/telegram.svg" alt="" />
						<span>Telegram</span>
					</a>
				</li>
				<li>
					<a href="https://bsky.app/profile/bonjourr.fr" title="Join us on Bluesky">
						<img src="/frontpage/bluesky-blue.svg" alt="" />
						<span>Bluesky</span>
					</a>
				</li>
				<!-- <li>
					<a href="https://twitter.com/BonjourrTeam" title="Joins us on Twitter">
						<svg viewBox="0 0 300.00006 244.18703" xmlns="http://www.w3.org/2000/svg"
							><path
								d="m633.89823 812.04479c112.46038 0 173.95627-93.16765 173.95627-173.95625 0-2.64628-.0539-5.28062-.1726-7.90305 11.93799-8.63016 22.31446-19.39999 30.49762-31.65984-10.95459 4.86937-22.74358 8.14741-35.11071 9.62551 12.62341-7.56929 22.31446-19.54304 26.88583-33.81739-11.81284 7.00307-24.89517 12.09297-38.82383 14.84055-11.15723-11.88436-27.04079-19.31655-44.62892-19.31655-33.76374 0-61.14426 27.38052-61.14426 61.13233 0 4.79784.5364 9.46458 1.58538 13.94057-50.81546-2.55686-95.87353-26.88582-126.02546-63.87991-5.25082 9.03545-8.27852 19.53111-8.27852 30.73006 0 21.21186 10.79366 39.93837 27.20766 50.89296-10.03077-.30992-19.45363-3.06348-27.69044-7.64676-.009.25652-.009.50661-.009.78077 0 29.60957 21.07478 54.3319 49.0513 59.93435-5.13757 1.40062-10.54335 2.15158-16.12196 2.15158-3.93364 0-7.76596-.38716-11.49099-1.1026 7.78383 24.2932 30.35457 41.97073 57.11525 42.46543-20.92578 16.40207-47.28712 26.17062-75.93712 26.17062-4.92898 0-9.79834-.28036-14.58427-.84634 27.05868 17.34379 59.18936 27.46396 93.72193 27.46396"
								fill="currentColor"
								transform="translate(-539.17946 -568.85777)"></path></svg
						>
						<span>Twitter</span>
					</a>
				</li> -->
			</ul>

			<a
				class="language"
				hreflang={isFrench ? "en" : "fr"}
				href={isFrench ? path.substring(3) : "/fr" + path}
				title={`Switch language to ${isFrench ? "English" : "French"}`}
			>
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM14.8055 18.4151C17.1228 17.4003 18.7847 15.1667 18.9806 12.525C18.1577 12.9738 17.12 13.3418 15.9371 13.598C15.7882 15.4676 15.3827 17.1371 14.8055 18.4151ZM9.1945 5.58487C7.24725 6.43766 5.76275 8.15106 5.22208 10.244C5.4537 10.4638 5.84813 10.7341 6.44832 11.0008C6.89715 11.2003 7.42053 11.3798 8.00537 11.5297C8.05853 9.20582 8.50349 7.11489 9.1945 5.58487ZM10.1006 13.9108C10.2573 15.3675 10.5852 16.6202 10.9992 17.5517C11.2932 18.2133 11.5916 18.6248 11.8218 18.8439C11.9037 18.9219 11.9629 18.9634 12 18.9848C12.0371 18.9634 12.0963 18.9219 12.1782 18.8439C12.4084 18.6248 12.7068 18.2133 13.0008 17.5517C13.4148 16.6202 13.7427 15.3675 13.8994 13.9108C13.2871 13.9692 12.6516 14 12 14C11.3484 14 10.7129 13.9692 10.1006 13.9108ZM8.06286 13.598C8.21176 15.4676 8.61729 17.1371 9.1945 18.4151C6.8772 17.4003 5.21525 15.1666 5.01939 12.525C5.84231 12.9738 6.88001 13.3418 8.06286 13.598ZM13.9997 11.8896C13.369 11.9609 12.6993 12 12 12C11.3008 12 10.631 11.9609 10.0003 11.8896C10.0135 9.66408 10.4229 7.74504 10.9992 6.44832C11.2932 5.78673 11.5916 5.37516 11.8218 5.15605C11.9037 5.07812 11.9629 5.03659 12 5.01516C12.0371 5.03659 12.0963 5.07812 12.1782 5.15605C12.4084 5.37516 12.7068 5.78673 13.0008 6.44832C13.5771 7.74504 13.9865 9.66408 13.9997 11.8896ZM15.9946 11.5297C15.9415 9.20582 15.4965 7.11489 14.8055 5.58487C16.7528 6.43766 18.2373 8.15107 18.7779 10.244C18.5463 10.4638 18.1519 10.7341 17.5517 11.0008C17.1029 11.2003 16.5795 11.3798 15.9946 11.5297Z"
						fill="currentColor"></path>
				</svg>
				<span>
					{isFrench ? "In english" : "En français"}
				</span>
			</a>
		</nav>
	</aside>
</div>

<script>
	document.querySelector("[open-button]")?.addEventListener("click", () => {
		document.body.classList.add("nav-open")
	})
	document.querySelector("[close-button]")?.addEventListener("click", () => {
		document.body.classList.remove("nav-open")
	})
	document.querySelector(".overlay")?.addEventListener("click", () => {
		document.body.classList.remove("nav-open")
	})
</script>

<style>
	aside {
		display: none;
		position: fixed;
		height: 100dvh;
		width: 300px;
		right: -300px;
		top: 0;
		padding: 6em 3em;
		background-color: #111d;
		backdrop-filter: blur(4em);
		transform: translate(0%);
		overflow-y: auto;
		transition: transform 0.2s;
		will-change: transform;
		z-index: 4;
	}

	aside .language {
		margin-top: 3em;
	}

	.container-mobile .language svg {
		margin: 0;
	}

	aside h2 {
		font-size: 1em;
		opacity: 0.7;
		text-transform: uppercase;
		margin: 2em 0 1em 0;
	}

	.overlay {
		position: fixed;
		background-color: black;
		height: 100%;
		width: 100%;
		top: 0;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		transition: opacity 0.4s;
	}

	body.nav-open .overlay {
		z-index: 3;
		pointer-events: all;
		opacity: 0.4;
	}

	body.nav-open aside {
		transform: translate(-100%);
	}

	.hamburger {
		color: white;
	}

	.hamburger svg {
		height: 2.5em;
	}

	button[open-button] {
		display: none;
	}

	button[close-button] {
		position: absolute;
		right: 35px;
		top: 35px;
	}

	button[open-button],
	button[close-button] {
		width: unset;
		background: unset;
		border: unset;
		backdrop-filter: unset;
		-webkit-backdrop-filter: unset;
		cursor: pointer;
	}

	button svg {
		width: 2.5em;
		filter: drop-shadow(0 1px 0 rgb(0 0 0 / 0.2));
	}

	nav {
		position: absolute;
		width: 100%;
		z-index: 3;
	}

	nav .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1200px;
		margin: auto;
		padding: 3em 4em;
	}

	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	nav li {
		display: inline-block;
		margin-inline: 0.1em;
	}

	nav a:hover {
		text-decoration: none;
		background-color: #fff2;
		backdrop-filter: blur(1em);
	}

	nav a:active {
		background-color: #fff3;
		backdrop-filter: blur(1em);
	}

	nav svg {
		height: 1em;
		vertical-align: middle;
	}

	nav .nav-right {
		display: flex;
		align-items: center;
	}

	nav a {
		font-weight: 500;
		padding: 8px 12px;
		border-radius: 4px;
	}

	a img,
	a svg {
		height: 1.6em;
	}

	a img,
	a svg,
	a span {
		vertical-align: middle;
	}

	.socials {
		margin-inline: 1em;
	}

	.socials.desktop-nav {
		margin-inline-end: 1em;
	}

	.socials.desktop-nav svg {
		height: 1.2em;
	}

	.container-mobile nav {
		position: initial;
	}

	.container-mobile ul {
		display: flex;
		flex-direction: column;
	}

	.container-mobile li {
		margin: 0.1em 0;
	}

	.container-mobile a {
		display: inline-block;
		padding: 0.3em 0.5em;
		min-width: 200px;
	}

	.container-mobile a svg,
	.container-mobile a img {
		margin-inline-end: 0.4em;
	}

	@media (prefers-color-scheme: light) {
		aside {
			background-color: #eeec;
		}

		aside nav,
		aside nav a,
		aside button {
			color: #555;
		}
	}

	@media only screen and (max-width: 900px) {
		nav .container {
			padding: 3em 2em;
		}
	}

	@media only screen and (max-width: 700px) {
		button[open-button] {
			display: flex;
		}

		nav .container {
			padding: 35px;
			display: flex;
			justify-content: flex-end;
		}

		nav .desktop-nav {
			display: none;
		}

		aside {
			display: block;
		}
	}
</style>
