---
import Layout from "./Layout.astro"
import DocsTitle from "@components/Docs/DocsTitle.astro"

let { title, thumbnail, lang, frontmatter } = Astro.props

if (!title && frontmatter) {
	title = frontmatter.title
}
---

<script is:inline>
	window.addEventListener("DOMContentLoaded", function () {
		const permalink = (id) => `<a href="#${id}" class="perma" aria-label="permalink">🔗</a>`

		// Classic permalink
		const hx = document.querySelectorAll("h2[id], h3[id], h4[id], h5[id], h6[id]")
		hx.forEach((h) => (h.innerHTML += permalink(h.id)))

		// Use group id to add perma to heading
		const groups = document.querySelectorAll(".content > div")
		const ids = Object.values(groups).map((node) => node.id)

		if (ids.length > 0) {
			const h2 = document.querySelectorAll("h2")
			h2.forEach((h2, i) => (h2.innerHTML += permalink(ids[i])))
		}
	})
</script>

<Layout title={`${title} · Bonjourr's documentation`} lang={lang} id="docs">
	<main>
		<DocsTitle title={title} thumbnail={thumbnail} />

		<div class="content">
			<slot />
		</div>
	</main>
</Layout>

<style is:global>
	#gradient-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
	}

	body {
		background-color: #181818;
	}

	main {
		min-height: calc(100vh - 470px);
		line-height: 1.6em;
	}

	main a:hover {
		text-decoration: underline;
	}

	h1 {
		font-size: 3em;
		line-height: 2em;
		text-align: center;
	}

	#summary a {
		text-decoration: none;
	}

	.content {
		max-width: 740px;
		min-width: 360px;
		min-height: 80vh;
		width: 100%;
		margin: auto;
		padding: 0 2em 6em;
		color: #e7e6ea;
	}

	.content a {
		color: #5ca5ff;
		text-decoration: underline;
	}

	.content a:hover {
		opacity: 0.8;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		margin: 0;
		font-weight: 500;
		padding: 1em 2rem 0.5em 0;
		width: max-content;
		max-width: 100%;
	}

	h1:hover .perma,
	h2:hover .perma,
	h3:hover .perma,
	h4:hover .perma,
	h5:hover .perma,
	h6:hover .perma {
		display: initial;
		text-decoration: none;
	}

	.perma {
		display: none;
		position: absolute;
		right: 0;
		font-size: 1rem;
	}

	h2 {
		padding-top: 1.5em;
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.6em;
	}

	ul li {
		padding: 0.2em 0;
	}

	bjr,
	bjrbtn {
		padding: 2px 8px;
		border-radius: 8px;
		white-space: nowrap;
	}

	bjrbtn {
		border: none;
		color: rgb(41, 144, 255);
		background-color: rgba(41, 144, 255, 0.15);
	}

	code {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		font-size: 14px;
		border-radius: 4px;
		padding: 0 8px;
		word-break: break-word;
		color: #bbb;
		background-color: #333;
	}

	pre {
		padding: 2em;
		font-size: 13px;
		line-height: 1.5em;
		border-radius: 1em;
	}

	pre code span {
		tab-size: 4ch !important;
	}

	strong {
		font-weight: 500;
	}

	img {
		width: 100%;
	}

	video {
		display: block;
		width: 80%;
		margin: auto;
	}

	img,
	video {
		border-radius: 0.5em;
		margin-top: 0.8em;
	}

	table {
		width: 100%;
		max-width: 800px;
		border-collapse: collapse;
		word-break: break-word;
	}

	th {
		padding: 1em;
		text-align: left;
	}

	td {
		padding: 0.6em;
		border: 1px solid #ccc;
		max-width: 500px;
	}

	/* Profiles */

	a[download] {
		padding: 1em;
		display: block;
		border: 1px solid #fff3;
		border-radius: 8px;
		cursor: pointer;
		color: white;
		background-color: #5ca5ff22;
		text-align: center;
	}

	a[download]:hover {
		background-color: #5ca5ff33;
	}

	details {
		padding: 1em;
	}

	details code {
		word-break: break-all;
	}

	/* End Profiles */

	@media (prefers-color-scheme: light) {
		body {
			background-color: #f7f7f7;
		}

		.content {
			color: #2c2c2c;
		}

		.content a {
			color: #3187f2;
		}

		code {
			color: #555;
			background-color: #eee;
		}

		bjr {
			color: #333;
			background-color: #ddd;
		}
	}

	@media (prefers-color-scheme: dark) {
		td {
			border-color: #666;
		}

		bjr {
			color: #222;
			background-color: #fff;
		}
	}

	@media only screen and (min-width: 500px) {
		.content h2 {
			line-height: 1em;
		}
	}

	@media only screen and (max-width: 700px) {
		.content {
			padding: 0 2em 4em;
		}

		article {
			flex-direction: column;
		}
	}

	@media only screen and (max-width: 500px) {
		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1.2em;
		}

		article {
			padding-bottom: 4em;
		}
	}
</style>
