---
import Footer from '../components/Footer.astro'
import Naviguation from '../components/Naviguation.astro'
import useTranslation from '../locales/useTranslation'

import favicon from '../assets/favicon.ico'

const { t } = useTranslation(Astro)
const { title, lang } = Astro.props

const metaTitle = t('Startpage for you browser')
const metaDescription = t(
	'Improve your web browsing experience with Bonjourr, a beautiful, customisable and lightweight homepage inspired by iOS.'
)
const metaKeywords = ['extension', 'startpage', 'homepage', 'browser startpage', 'minimalism', 'lightweight']
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<title>{title}</title>
		<meta name='viewport' content='width=device-width' />
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
		<meta name='description' content={metaDescription} />
		<meta property='og:title' content={metaTitle} />
		<meta property='og:description' content={metaDescription} />
		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://bonjourr.fr/' />
		<meta property='og:image' content='https://bonjourr.fr/twitter.jpg' />
		<meta name='keywords' content={metaKeywords.join(',')} />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:image' content='https://bonjourr.fr/twitter.jpg' />
		<meta name='twitter:creator' content='BonjourrTeam' />
		<meta name='twitter:title' content={metaTitle} />
		<meta name='twitter:description' content={metaDescription} />
		<link rel='shortcut icon' href={favicon} type='image/x-icon' />
	</head>
	<body>
		<Naviguation />

		<slot />

		<Footer />
		<style is:global lang='scss'>
			@import '../styles/_global.scss';

			html,
			body {
				position: relative;
				margin: unset;
				font-family: 'Inter', Helvetica, sans-serif;
				font-size: 17px;
				font-weight: 300;
			}

			p {
				line-height: 1.5em;
			}

			#hero {
				display: flex;
				color: white;
				position: relative;
				height: 90vh;
				min-height: 550px;
			}

			#hero h1,
			#hero h2 {
				font-weight: 300;
			}

			.background {
				position: absolute;
				overflow: hidden;
				height: 100%;
				width: 100%;
				z-index: -1;
			}

			.background:before {
				content: '';
				position: absolute;
				background-image: url('../assets/seaside.webp');
				background-size: cover;
				background-position: 0% center;
				filter: blur(12px);

				display: block;
				width: 100%;
				height: 100%;
				transform: scale(1.1);
			}
		</style>
	</body>
</html>
